<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="First Suite" parallel="classes" thread-count="2" verbose="1">
	<test name="Test login success">

		<classes>
			<class name="autotest.testcases.HaDV_LoginTestcase">
				<methods>
					<include name="startBrowser" />
					<include name="testLoginSuccess" />
				</methods>
			</class>
			<class name="autotest.testcases.HaDV_HoaDonListTestcase">
				<methods>
					<include name="startBrowser" />
					<include name="testHoaDonListTestcase" />
				</methods>
			</class>
		</classes>
	</test>

</suite>