# Ignore Maven/Gradle build
target/
build/

# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# Logs
logs/
*.log

# OS stuff
.DS_Store
Thumbs.db

# Java
*.class

# Environment
.env

# Temporary files
*.tmp
*.swp

AutomationTestTraining/test-output/
